
p {
	font-family: "LucidaGrande", sans-serif;
	text-align:center;
}

button
{
	font-family: "LucidaGrande", sans-serif;
	font-size:12px;
	border:1px solid;
	height:20px;
}

input[type=text]
{
	height:12px;
}

#content {
	margin-right:auto;
	margin-left:auto;
	vertical-align:middle;
	width:100%;
}

#content ul {
	padding:0px;
}

#content ul li {
	margin:3px 0px 3px 0px;
}
