/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe Inc.
* All Rights Reserved.
*
* NOTICE: Adobe permits you to use, modify, and distribute this file in
* accordance with the terms of the Adobe license agreement accompanying
* it. If you have received this file from a source other than Adobe,
* then your use, modification, or distribution of it requires the prior
* written permission of Adobe. 
**************************************************************************/
html {
    height:100%;
}

body
{
    font-family: "LucidaGrande", sans-serif;
    background-color:#282828;
    height:100%;
}

p {
	font-family: "LucidaGrande", sans-serif;
    text-align:center;
}

.error
{
    font-size: 1.2em;
    color: red;
    text-align: center;
}

.ui-widget
{
    font: "LucidaGrande", sans-serif;
    font-size: 0.8em;
}

.header
{
    position:fixed;
    top:0px;
    height: 60px;
    line-height: 60px;
    vertical-align:middle;
}
.header p
{
    float:left;
    margin: 0 0 0 30px;
    color: white;
}

.header img 
{
    float:left;
    height: 50px;
    margin-left: 20px;
}

.main
{
    float: left;
    color: white;
    margin-left: 20px;
    padding-top:60px;
    width:95%;
}

.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
    zoom: 2;
    vertical-align:middle;
}
.myButton {
    width:42px;
    padding-left: 4px;
}

.treeDiv {
    background: #5f5f5f;
    overflow: scroll;
    padding: 10px;
}

.controls {
    position:fixed;
    bottom:0px;
    margin-top:5px;
}

.pathInput{
    height:30px;
    font-size:12pt;
    vertical-align: top;
    margin-top:4px;
    width:99%;
}

.mainTble {
    width:100%;
}

.firstTD {
    width:12%;
}


