/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe Inc.
* All Rights Reserved.
*
* NOTICE: Adobe permits you to use, modify, and distribute this file in
* accordance with the terms of the Adobe license agreement accompanying
* it. If you have received this file from a source other than Adobe,
* then your use, modification, or distribution of it requires the prior
* written permission of Adobe. 
**************************************************************************/
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	font-size: 13px;
	color: #000000;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.divMain {
	height: 100%;
	width: 100%;
	display: flex;
	padding: 13px;
	box-sizing: border-box;
	overflow: hidden;
}

.divControls {
	flex-grow: 1;
	margin: 0 1.5em;
}

.divBtnBar {
	flex-grow: 0;
	flex-shrink: 0;
	width: 73px;
	display: flex;
	flex-direction: column;
}

#iDissolvePc {
	width: 60px;
	height: 23px;
	box-sizing: border-box;
}

button {
	border-radius: 2px;
	line-height: 0px;
	height: 22px;
	margin-bottom: 5px;
	background: #f0f0f0;
	border: 1px solid #7d7c7d;
}

button:active {
	background: #9b9b9b;
}

.okBtn {
	height: 23px;
	border: 2px solid #7d7c7d;
}

.olclass{
	list-style: none;
	padding: 0px;
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
	width: 100%;
}

li {
	padding-bottom: 10px;
}

#fsDisposition {
	margin: 0px;
	margin-top: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}