/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe Inc.
* All Rights Reserved.
*
* NOTICE: Adobe permits you to use, modify, and distribute this file in
* accordance with the terms of the Adobe license agreement accompanying
* it. If you have received this file from a source other than Adobe,
* then your use, modification, or distribution of it requires the prior
* written permission of Adobe. 
**************************************************************************/
/*
This stylesheet represents CC app styles
Empty classes will be edited at runtime
*/
button
{
    border:1px solid;
    border-radius:3px;
    height:20px;
}

.hostFontSize{}
.hostFontFamily{}
.hostFontColor{}
.hostBgd{}
.hostBorder{}

