/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe Inc.
* All Rights Reserved.
*
* NOTICE: Adobe permits you to use, modify, and distribute this file in
* accordance with the terms of the Adobe license agreement accompanying
* it. If you have received this file from a source other than Adobe,
* then your use, modification, or distribution of it requires the prior
* written permission of Adobe. 
**************************************************************************/
* { margin:0;
	padding:0;
}

html {
	height: auto;
}

body{
	position: absolute;
	min-width: 760px;
	width: 100%;
	height: auto;
	background: #ddd;
}

.navbox {
	position: absolute;
	top:0;
	left:0;
	width: 220px;
	height: auto;
}

.navbox ul.nav {
	list-style: none;
	display: block;
	width: 200px;
	position: relative;
	top: 0px;
	left: 20px;
	padding: 60px 0 60px 0;
	background: url(images/shad2.png) no-repeat;
	-webkit-background-size: 50% 100%;
}

.navbox li {
	margin: 5px 0 0 0;
}

.navbox ul.nav li a {
	-webkit-transition: all 0.3s ease-out;
	background: #cbcbcb url(images/border.png) no-repeat;
	color: #174867;
	padding: 7px 15px 7px 15px;
	-webkit-border-top-right-radius: 10px;
 	-webkit-border-bottom-right-radius: 10px;
	width: 160px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
}

.navbox ul.nav li a:hover {
	background: #ebebeb url(images/border.png) no-repeat;
	color: #67a5cd;
	padding: 7px 15px 7px 30px;
}

#testArea {
	position: absolute;
	top: 0;
	right: 0;
	left: 220px;
	min-width: 500px;
	height: auto;
	padding: 50px 20px 0px 20px;
}

#testDialog {
	top: 0px;
	width: 100%;
	min-height: 900px;
	height: auto;
	border: none;
}
