html {height: 100%;}

body {
	position: relative;
}

fieldset {
	min-width: 460px;
}

textarea
{
    width: 100%;
	resize: none;
}

.textwrapper
{
	border: 0px;
	margin: 2px 2px 2px 2px;
	padding: 0px;
}
