/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe
* All Rights Reserved.
*
* NOTICE: All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
**************************************************************************/
@charset "UTF-8";
/* CSS Document */
body {
/*	margin:0px 0px;
	padding:0px 0px 0px 0px;*/
	font: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color:#464646;
}

.asset {
	border: 5px solid #FFFFFF; 
	width: 110px;
}

.asset:hover {
    border: solid 5px transparent;
    border-color: #25A6FF;
}

.item {
	float: left;
	width: 120px;
	min-height: 80px;
	margin: 0;
}

.infoContainer {
	padding: 5px;
	margin-bottom: 5px;
}

.btn {
	color: #FFFFFF;
	width: 80px;
	height: 20px;
	padding-top: 5px;
	text-align: center;
	border: 1px solid #7C7B7B;
	background: #0097E6;
}

.btn:hover {
	border: 1px solid #F9F9F9;	
}

.update {
	float: left;
}

.updateInfo {
	color: #E5E5E5;
	font-size: 16px;
	width: 370px;
	height: 16px;
	padding: 2px;
	margin-top: 3px;
	margin-right: 270px;
	border: 1px solid #C2C2C2;
	float: right;
}

.updateProcess {
	height: 16px;
	background: #0097FF;
	width: 0%;
}

#container {
	margin-top: 10px;
	float: left;
}

#mainpage {
	padding:10px 10px;
	margin:0px 0px;
	background-color:#333333;
	color: #ffffff;
	width: 100%;
}

/************** Style For Detail Page *****************/
#targetImage {
	position: absolute;
	border: 10px solid #FFFFFF;
}

#mosaicImages {
	position: absolute;
	border: 10px solid #FFFFFF;
}

.image {
	width: 650px;
	float: left;
}

.control {
	width: 110px;
	height: 440px;
	margin-left: 5px;
	border: 1px solid #E6E6E6;
	float: right;
}

#detail .btn {
	color: #FFFFFF;
	margin: 8px;
	width: 90px;
	height: 20px;
	padding-top: 5px;
	text-align: center;
	border: 1px solid #7C7B7B;
	background: #0097E6;
}

#detail .btn:hover {
	border: 1px solid #F9F9F9;	
}

#detail .btnInvalid {
	color: #FFFFFF;
	margin: 8px;
	width: 90px;
	height: 20px;
	padding-top: 5px;
	text-align: center;
	border: 1px solid #7C7B7B;
	background: #D1D1D1;
}

#detail .blank {
	height: 85px;
	width: 90px;
	margin: 8px;
	font-size: 14px;
	color: #EDEDED;
}

#detail #loadprocess {
	width: 83px;
	height: 85px;
	padding-top: 15px;
	padding-left: 7px;
	margin: 8px;
}

#detail .parameter {
	width: 90px;
	margin: 8px;
	text-align: center;
	align-content: center;
	font-size: 14px;
	color: #EDEDED;
}