/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe
* All Rights Reserved.
*
* NOTICE: All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
**************************************************************************/
html, body {
  width: 100%;
  height: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden;
}

h1 {
  padding: 20px;
}

div.navbar {
  margin: 0px !important;
}