html, body {
  width: 100%;
  height: 100%;
  border: 0px;
  overflow: hidden;
  background-color: #333;
}

img {
  float: left;
  width: 80px;
}

h1 {
  float: left;
  margin: 0px;
  line-height: 50px;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #fff;
}

h2 {
  float: left;
  margin: 0px 0px;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 30px;
  color: #fff;
  width: 100%;
}

td {
  margin: 0px;
  text-align: center;
}

* {
  -webkit-user-select: none;
}

p {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #eee;
  font-size: 14px;
  margin-right: 30px;
}