/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe Inc.
* All Rights Reserved.
*
* NOTICE: Adobe permits you to use, modify, and distribute this file in
* accordance with the terms of the Adobe license agreement accompanying
* it. If you have received this file from a source other than Adobe,
* then your use, modification, or distribution of it requires the prior
* written permission of Adobe. 
**************************************************************************/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative;
}

table {
	border: solid 1px #dddddd;
	width: 100%;
	margin-bottom: 1em;
}

table thead {
	background: whitesmoke;
}

table tr:nth-of-type(even) {
	background: #f9f9f9;
}

table th,table td {
	padding: 0.5em 0.6em;
	font-size: 0.875rem;
	line-height: 1.125rem;
	text-align:left;
	vertical-align:top;
}

button {
	width: 100%;
	font-size: 0.875rem;
	text-transform:uppercase;
	
	margin: 0 0 1.25rem;
	text-align: center;
	display: inline-block;
	padding: 1em;
	background-color: #535353;
	color: white;
	border: none;
}

input[type="text"],textarea {
	font-size: 0.875rem;
	border: 1px solid #cccccc;
	display: block;

	margin: 0;
	padding: 0.5rem;

	height: 2.3125rem;
	width: 100%;
}

#content {
	padding: 1.5em;
}

h1 {
	font-size:1.5em;
}

#main {
	margin-top: 1em;
}

#message,#main {
	display: none;
}

textarea {
	min-height: 10em;
}
