<div>
	
<div data-role="page" id="{{id}}">
	<div data-role="header" data-add-back-btn="true">
	    <h1>{{title}}</h1>
	</div>
			
	<p>{{date}}</p>

	{{description}}

	<a href="javascript: new CSInterface().openURLInDefaultBrowser('{{link}}')" class="ui-btn">Read in Full</a>

	<div data-role="footer" data-position="fixed">
    	<h4>Powered by jQuery Mobile</h4>
	</div>
</div>
				
</div>