html, body, iframe {
  width: 100%;
  height: 100%;
  border: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: #d6d6d6;
  text-align: center;
}

h2 {
  padding-top: 60px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}