/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe
* All Rights Reserved.
*
* NOTICE: All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
**************************************************************************/
html, body {
  width: 100%;
  height: 100%;
  border: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.search-box {
  width: 100%;
  padding: 3px;
  border: 0px;
  color: #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 30px;
}

.search-box:focus {
  outline: 0px;
}

.loading-spinner {
  position: absolute;
  top: 23px;
  right: 23px;
}

.spinner {
  display: block;
}

.container {
  padding: 0px 2px;
  display: none;
  line-height: 0;
}

.thumb {
  opacity: 1;
  cursor: pointer;
  border-style: none;
  margin-top: 2px;
}

.thumb > img {
  width: 100%;
}

:not(.downloading).thumb:hover  {
  opacity: .9;
}

.downloading > .overlay {
  background-color:rgba(0, 0, 0, 0.5);
  display: block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay > .spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}