/* CSS Document */
body {
  padding: 20px, 20px, 20px, 20px;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

body h1 {
  font-size: 14pt;
}

#welcome {
  display: none;
}

#purchase {
  display: none;
}

#loading {}
