/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe Inc.
* All Rights Reserved.
*
* NOTICE: Adobe permits you to use, modify, and distribute this file in
* accordance with the terms of the Adobe license agreement accompanying
* it. If you have received this file from a source other than Adobe,
* then your use, modification, or distribution of it requires the prior
* written permission of Adobe. 
**************************************************************************/
html {height: 100%;}

body {
	position: relative;
}

fieldset {
	min-width: 460px;
}

#un label {
	padding-left: 5px;
	width: 80px;
	display: inline-block;
}

input[type="text"], select[type="text"]
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	min-width: 300px;
	width: 75%;
	padding: 5px 5px 5px 5px;
}

#markerList {
	min-width: 450px;
}

#markerList > ol {
	padding: 0px 0px 0px 0px;
	width: 100%;
}

#markerList > ol > li {
	background: #464547;
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px 10px 5px 0px;
	margin-bottom: 2px;
	height: 100px;
	color: white;
}

#markerList li {
	list-style: none;
}

#markerList ul {
	padding: 0px 0px 0px 5px;
}

.markerColor {
	float: left;
	width: 5px;
	height: 60px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 2px 5px 2px 5px;
}
	
.markerColor_subclip {
	background: #009ad6;
}

.markerColor_comment {
	background: #78a355;
}

.markerColor_flashCuePoint {
	background: #fdb933;
}

.markerColor_webLink {
	background: #f58220;
}

.markerColor_chapter {
	background: #d93a49;
}

.markerColor_speechTranscription {
	background: #FFC0CB;
}

.markerColor_customer {
	background: #6f60aa;
}


.markerTime {
	float:left;
	width: 140px;
	height: 60px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-right:10px;
	text-align:left;
}

.description {
	float: left;
	height: 60px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	min-width: 250px;
	width: 60%;
	margin: 2px 5px 2px 5px;
}

.markerTime ul{
	text-align: left;
	padding: 0px 0px 0px 0px;
}

.markerTime li{
	height: 18px;	
	vertical-align: middle;
	font-size: 12px;
}

.markerTime label {
	width: 60px;
	text-align:right;
	display: inline-block;
}

.description p {
	height: 20px;
	display: block;
	font-size: 12px;
	width:100%;
	margin:0px 0px 5px 0px;
	vertical-align: text-top;
}

.description textarea {
	height: 40px;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
	width:100%;
	color: black;
	background: #d3d7d4;
}

.path{
	vertical-align: middle;
	font-size: 12px;
}

#markerContent {
	height: 80px;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
	width:100%;
	color: black;
	background: #d3d7d4;
}

#changedMarkerContent {
	height: 200px;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
	width: 100%;
}

textarea
{
    width: 100%;
	resize: none;
}

.textwrapper
{
	border: 0px;
	margin: 2px 2px 2px 2px;
	padding: 0px;
}
