body {
    text-align:center;
}

#container{
    text-align:center;
}

#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
}

.debugtools{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.debugtools li {
    display:inline;
    margin:3px 0px 3px 0px;
}

