/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe Inc.
* All Rights Reserved.
*
* NOTICE: Adobe permits you to use, modify, and distribute this file in
* accordance with the terms of the Adobe license agreement accompanying
* it. If you have received this file from a source other than Adobe,
* then your use, modification, or distribution of it requires the prior
* written permission of Adobe. 
**************************************************************************/
html {height: 100%;}

body {
	position: relative;
}

fieldset {
	min-width: 460px;
}

output
{
	font-weight: bold;
	color: #174867;
}

button
{
	-webkit-transition: all 0.3s ease-out;
	border-radius: 10px;
	background: #cbcbcb;
	color: #174867;
	padding: 7px 15px 7px 15px;
	text-decoration: none;
}

button:hover {
	background: #ebebeb;
	color: #67a5cd;
}

input[type="text"]
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	padding: 5px;
	width: 98%;
}

textarea
{
    width: 100%;
	resize: none;
}

.textwrapper
{
	border: 0px;
	margin: 2px 2px 2px 2px;
	padding: 0px;
}
