/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe Inc.
* All Rights Reserved.
*
* NOTICE: Adobe permits you to use, modify, and distribute this file in
* accordance with the terms of the Adobe license agreement accompanying
* it. If you have received this file from a source other than Adobe,
* then your use, modification, or distribution of it requires the prior
* written permission of Adobe. 
**************************************************************************/
html {height: 100%;}

body {
	position: relative;
}

fieldset {
	min-width: 460px;
}

#saveAsset { 
	width: 98%; 
	min-height: 18em; 
	padding: 1%; 
}

#saveAsset h4 {
	line-height: 16px;
	margin: 0 0 0.4em; 
}

#saveAsset h4 .ui-icon { 
	float: left; 
}

#saveAssetResult {
	text-align: left;
    color: red;
    margin: 20px 20px 0px 20px;
}

textarea
{
    width: 100%;
	resize: none;
}

.textwrapper
{
	border: 0px;
	margin: 2px 2px 2px 2px;
	padding: 0px;
}
