/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2014 Adobe Inc.
* All Rights Reserved.
*
* NOTICE: Adobe permits you to use, modify, and distribute this file in
* accordance with the terms of the Adobe license agreement accompanying
* it. If you have received this file from a source other than Adobe,
* then your use, modification, or distribution of it requires the prior
* written permission of Adobe. 
**************************************************************************/
html {height: 100%;}

body {
	position: relative;
}

fieldset {
	min-width: 460px;
}

ol {
    padding-left: 0px;
}

ol li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px 10px 0px 5px;
	margin-bottom: 2px;
}

label {
	float: left;
	font-size: 13px;
	width: 110px;
}

input[type="text"]
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	padding: 5px;
	min-width: 300px;
	width: 70%
}

input[type="text"]:focus
{
    background:#d1c7b7;
}

#apply
{
	border:1px solid;
	border-radius:3px;
	height:30px;
	margin:5px;
}

#apply:hover {
	background: #d1c7b7;
	cursor: pointer;
}

#send
{
	border:1px solid;
	border-radius:3px;
	height:30px;
	margin:5px;
}

#send:hover
{
	background: #d1c7b7;
	cursor: pointer;
}

#import:hover
{
	background: #d1c7b7;
	cursor: pointer;
}

#unassociatedMetadata {
	height: 80px;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
	width: 100%;
}

textarea
{
    width: 100%;
	resize: none;
}

.textwrapper
{
	border: 0px;
	margin: 2px 2px 2px 2px;
	padding: 0px;
}
